body{
			background: url(/resources/img/edu1.jpg);
			margin: 0px;
			background-size: cover;
			background-attachment: fixed;
			background-position:center; 


		}
		.menu{
			width: 100%;
			background:#E0DAD7;
			overflow: auto;
			border-radius: 5px 5px 0 0;
			opacity: .8;
			position: fixed;

		}
		.menu ul{
			margin: 0;
			padding: 0;
			list-style:none;
			line-height: 60px;

		}
		
		.menu li{
			float:left;
			margin-left: 130px;

		}
		.logo img{

	       width: 12%;
	       height:auto;
	       float:left;
	       border-radius:10%; 
	       margin-left: 5px;

         }
		.menu ul li a{
			background:#142b47;
			text-decoration: none;
			width:130px;
			display: block;
			text-align: center;
			color: #f2f2f2;
			font-size: 18px;
			font-family:sans-serif;
			letter-spacing: 0.5px;
			padding-left: 10px;
			margin-right: 5px;

		}
		.menu li a:hover{
			color: #fff;
			opacity:0.5;
			font-size: 19px; 
		}
		.button{
			float: right;
			background:orange;
			color: white;
			border-radius: 5px 5px 5px 5px;
			cursor: pointer;
			position: relative;
			padding:7px;
			font-family: sans-serif;
			border: none;
			margin-top: 10px;
			margin-right: 10px;
		}
		
		.button a{
			text-decoration: none;
		}
		.button :hover{
			color: red;
			
		}
		.AA{
			text-align: center;
			color: #34495e;
			font-size:30px;
			font-family: sans-serif;

		}